/* Header.css */
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #2C2D31;
    color: white;
}

.bank-info {
    display: flex;
    align-items: center;
}

.bank-logo {
    width: 80px;
    height: 80px;
    margin-right: 100px;
}

.user-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #2C2D31;
    color: white;
    display: flex;
    align-items: center;
}

.user-name {
    margin-right: 100px;
}

.logout-button {
    padding: 8px 16px;
    border: none;
    border-radius: 5px;
    background-color: #dc3545;
    color: white;
    cursor: pointer;
}

.logout-button:hover {
    background-color: #c82333;
}